@page "/ViewUsers"
@attribute [Authorize]
@using Domain.Models
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@inject IUserService userService;
<h3 style="text-align: center">Overview of all users</h3>



@if (isAdmin)
{
    <h3>Hello @name</h3>
    @if (!string.IsNullOrEmpty(msg))
    {
        <div>
            <span>@msg</span>
        </div>
    }

    @if (users == null)
    {
        <span>Loading..</span>
    }
    else if (!users.Any())
    {
        <span>No users to be found</span>
    }
    else
    {
        <div class="users-container">
            @foreach (UserReadDto user in users)
            {
                <div class="user-card">
                    <div>
                        <label>Username: @user.UserName</label>
                    </div>
                    <div>
                        <label>Role: @user.Role</label>
                    </div>
                    <div>
                        <label>Name: @user.Name</label>
                    </div>
                    <div>
                        <label>Email: @user.Email</label>
                    </div>
                    <div>
                        <label>Phone Number: @user.PhoneNumber</label>
                    </div>
                    <div>
                        <label>Address: @user.Address</label>
                    </div>
                    <div>
                        <label>Rating: @user.Rating</label>
                    </div>
                </div>
            }

        </div>
    }
}
else
{
    <p>You are not Admin.</p>
}

@code {
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    private IEnumerable<UserReadDto>? users;
    private string msg = "";

    private string? name;
    private IEnumerable<Claim>? userClaims;
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isAdmin = user.IsInRole("Admin");

        try
        {
            users = await userService.GetUsers();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        
        if (!isAdmin) return;
        
        userClaims = user.Claims;
        name = user.Identity!.Name!;
        
    }
    
}
